﻿body
{
    width : 680px;
    margin : auto;
    color : White;
    text-align : center;
    /*This is only to get the element to sit
      in the correct place even with window
      resizes.*/
    position : relative;
}

header
{
    background-color : Blue;
    padding-bottom : 1.5em;
}

nav
{
    background-color : Green;
    padding-bottom : .8em;
}

article
{
    background-color : pink;
    width : 66%;
    padding-bottom : 1.5em;
}

section
{
    background-color : brown;
    margin-top : .5em;
    padding-bottom : 3em;
}

aside
{
    background-color : cyan;
    /* Either way, these get overridden
    width : 33%;
    padding-bottom : 11em; */
    /* This is what we use without being able
       to position this in a relatively placed
       element 
    position : absolute;
    top : 4.3em;
    left : 55.3em;
    padding-bottom : 10.5em;
    width : 14.44em; */
    /* On the other hand, this is what we use
       if we can place this inside of a relatively
       positioned element. */
    padding-bottom : 10.5em;
    position : absolute;
    top : 4.3em;
    left : 28em;
    padding-left : 5.6em;
    padding-right : 5.6em;
}

footer
{
    background-color : Green;
    padding-bottom : .8em;
}

nav ul
{
    list-style-type : none;    
    margin : 0;
    padding : 0;
    /* Not sure why it is this way, but that's
       how it looks in the example. */
    text-align : left;
}

nav ul li
{
    display : inline;
    margin : 5px;
}

nav ul li a:link
{
    color : White;
}
