﻿body
{
    width : 680px;
    margin : auto;
    color : White;
    text-align : center;
}

header
{
    background-color : Blue;
    padding-bottom : 1.5em;
}

nav
{
    background-color : Green;
    padding-bottom : .8em;
}

article
{
    background-color : pink;
    width : 66%;
    padding-bottom : 1.5em;
}

section
{
    background-color : brown;
    margin-top : .5em;
    padding-bottom : 3em;
}

aside
{
    background-color : cyan;
    width : 34.2%;
    padding-bottom : 10.5em;
    position : relative;
    bottom : 11.46em;
    left : 28em;
}

footer
{
    background-color : Green;
    padding-bottom : .8em;
    position : relative;
    bottom : 11.46em;
}

nav ul
{
    list-style-type : none;    
    margin : 0;
    padding : 0;
    /* Not sure why it is this way, but that's
       how it looks in the example. */
    text-align : left;
}

nav ul li
{
    display : inline;
    margin : 5px;
}

nav ul li a:link
{
    color : White;
}
